@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url(https://db.onlinewebfonts.com/c/6943fb6fd4200f3d073469325c6acdc9?family=Open+Sans+Light);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
  color: #2F2F33;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif , Verdana, Tahoma !important;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
   box-sizing: border-box;
    
  /*font-family: "Open Sans Light";*/
  z-index: 0;
    
  }
 
  :root{
    --opensans: "Open Sans Light";
    --marri:'Merriweather', serif;
    --mont:'Montserrat', sans-serif;
    --openlight:'Open Sans', sans-serif;
    --dark-blue:#333440;
    
  }
  
  .container{
    overflow: hidden;
    box-sizing:border-box;
  }


  .home{
    position: fixed;
    width: 500px;
    top:10em;
    left: 25em;
    text-align: center;
    color: white;
    
  }
   

   
  
 
  
.home h5{
    padding-bottom: 30px;
    font-weight: 500;
  }
  
 .home h1{
      font-size: 85px;
      font-weight: 900;
      letter-spacing: 15px;
      line-height: 2em;
      margin: -40px;
  }
  
  .home h3{
      line-height: normal;
      letter-spacing: 3.5px;
      font-size: 19px;
      margin: 20px;
      
  }
  
  .home h4{
      margin-top: 1em;
  }
  
  
  .strok{
      width: 48px;
      height:1px;
      display: block;
      position: relative; 
      left:27em;
      top:2.2em;
      margin: 3px;
      background-color: seashell;
  }
  .strok-2{
      width: 48px;
      height:1px;
      display: block;
      position: relative; 
      left:-2.1em;
      top:-2.1em;
      margin: 3px;;
      background-color: seashell;
  }

/*section two*----------------------------*/

.display-1{
    display:block;
  position: relative;
  color: black;
  -top: 2em;
  width: 100%;
  height: 110vh;  
  z-index: 999;
  font-size: 10px;
   overflow: hidden;
}

.navbar{
    
    border-bottom: .7px  solid gainsboro;
    z-index: 16;
    background: white;
    width: 1500px;
    height: 12%;
    font-size: 20px;
    display: fl;
    justify-content: center;
    align-items: center;
    font-family: var(--mont);
    transform: translateX(-13em);
    font-size: 13px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
   
  }

li,a{
  text-decoration: none;
  color: #333440;
  padding: 10px 30px 0px 50px;
  margin: -10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.navbar ul li a{
  text-decoration: none;
}


.nav-links{
  list-style:none;
}

.nav-links li{
  display:inline-block;
  padding:0px 20px;
  
}

  .t-width{
    border:4px solid #333440 ;
    width: 5vw;
    height: 70px;
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    margin: 0 auto;
    transform: translateY(-10px);
    color:#333440 ;
    font-size: 40px;
    transition: 1s;
    margin-top: .4em;
}

.t-width:hover{
  background-color: #333440;
  color: white;
  transition: 1s;
}


/*---navbar end--*/




.intro {
  text-align: center;
  padding-top: 15em;
  color: var(--dark-blue);
}

.intro h1{
  font-family: var(--marri);
 
}

.intro p{
  font-size: 20px;
  padding-top: 2em;
  font-family: var(--openlight);
  line-height: 30px;
  letter-spacing: 1px;
}

.products{
  width: 5%;
  height:10%;
  margin: 1em;
  margin-right: -2.5em;
  transform: translateX(4em);
  display: flex;
  transform: translateX(5em);
}

.img-fluid{
  transform: translateX(6em);
  padding-bottom: 3em;
}

.top{
  display: inline-block;
  background-color: black;
  width: 5em;
  height: 2px;
  border-radius: 10px;
  transform: translateX(em);
  margin-bottom: -3em;
  position: relative;
  top:30px;
}



.btn-group-toggle{
  border-top: 3px solid black;
  background:none;
  font-size: 10px;
  width: 25em;
  height: 5.5em;
  border: none;
  transform: translateX(-1.5em);
  position: relative;
  top: 3.4em;
  margin: -2em;
  padding: -5em;
  transition: 1s ease;
}


.btn-group-toggle:hover{
text-align: center;
background-color:var(--dark-blue);
border : 1px dotted darkslategray ;
animation-duration: 1s;
}

.idea{
  padding: 5em;
}

.idea-1{
  transform: translateX( );
}
/*section-three*/

.display-2{
  overflow: hidden;
  color:white;
  background-color: var(--dark-blue); 
  width: 100vw; 
  height: 100vh;
}

.logos{
  display: flex;
  justify-content: end;
  position: relative;
  top:-6em;
  left: 1em;
  overflow: hidden;

}

.flex img{
  width: 25%;
  height: auto;
}

.col-sm-8{
padding:1em ;
}

.col-sm-8 h1{
  font-family: "Merriweather Sans";
  letter-spacing: normal;
  font-size: 35px;
  overflow: hidden;
  z-index: 1;
}

.col-sm-8 p{
  font-size: 16px;
  color: #888;
  line-height: 30px;
}

.input{
    border-radius: 25px;
    background-color: white;
    transform: translateY(-5em);
    height: 30PX;
    width: 120px;
    color: black;
    font-weight: bold;
    font-size: 10PX;
    border: none;
}
.flex{
  z-index: 4;
}

.col-sm-4{
  width: 20vw;
  height: auto;
}

/*display-3--------------------*/


/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.mySlides{
  font-size: 20px;

}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    margin-top: -50px;
  
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 9px;
  width: 34px;
  margin: 0 2px;
  background-color: #bbb;
 
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color:gray;}
.author{
  font-size: 18px;
}
/*---------section fifth----------------------------------------*/


.display-4{
  display: flex;
  position: relative;
  width: 100%;
  height: 90vh;
  background-color:var(--dark-blue);
  color: white;

  
}

.display-4 h1{
  display: block;
  font-size: 37px;
  margin: 4em;
  margin-left: 3em;
  letter-spacing: normal;
  line-height: 1.5em;
  font-family: "Merriweather Sans";
  transform: translateY(-1.4em);
}

.h-one{
  letter-spacing: 1px;
}

.about-row{
 display: block;
 font-size: 15px;
 margin-top: 7.5em;
}

.about-row p{
  margin: 2em;
  transform: translateX(-2em);
  font-size: 17px;
  line-height: 25px;
  color: #888;
}

.about-row-two{

  position: relative;
  left: -1em;
  top: 6.5em;
  font-size: 17px;
  line-height: 25px;
  color: #888;
  display: block;

}

.width{
  display: inline-block;
  width: 18em;
  height: 2px;
  background-color: oldlace;
  margin: auto;
}

/*----sixth section--------------*/

.display-5{
  display: block;
  position: relative;
  background-color: white;
  color: var(--dark-blue);
  text-align: center;
  letter-spacing: normal;
 font-family: var(--opensans);
}

.intro-5 h1{
  width: 100%;
  height: auto;
  font-size: 30px;
  letter-spacing: normal;
  padding-top: 5em;
  padding-bottom: 3em;
  font-family: var(--marri);
}
.fa{
  border: 2px solid black;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams-full{

display: flex;
font-size: 15px;
position: relative;
left: 1em;
}

.icons ul li a{
  margin-left: -4em;
  position: relative;
  left: -1em;
}

.team-info{

    text-align: start;  
    position: relative;
    left: 1em;
}

.team{
  position: relative;
  left: 3em;
display: block;
padding-top: 10em;
}

.team img{
  max-width: 23vw;
  height: auto;
  padding: 1em;
}


.team .icons{
  margin-left: 5em;
  font-size: px;
  
}



.icons ul{
  padding: 0%;
  margin-top: 0;
margin-bottom: 10px;
}

.icons  li{
  display: inline-block;
  float: none;
  text-align: center;
  line-height: 26px;
  margin-right: 5px;
  padding-left:-20px;
}

.icons ul li{
  padding-left: 0px;
  padding-right: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  transform: translateX(-2.5em);
  
}


p{

  margin-bottom: 20px;
  margin: 0 0 10px;
  font-family: 'Open Sans', sans-serif , Verdana, Tahoma !important;
  font-weight: 300;
}

.team .team-info h4{
  font-size: 18px;
  font-family: 'Merriweather', serif;
  color:#26292a;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.1;

}

/*------section seven---*/

.seven{
  display: block;
  position: relative;
  background-color: black;
  width: 100%;
  height: auto;
  margin-bottom: 10em;
  overflow: hidden;
  margin-left: -3em;
 font-size: 15px;
}

.seven-section{
  padding: 10em;
}


.seven-section p{
  padding-right: 5em;
  margin-top: 2em;
}

.seven-section a{
  color: white;
  font-size: 28px;
}

.seven-section-two{
  padding: 1em;
  padding-top: 2em;
}

.block-two{
  position: relative;
  left: 14em;
  top:-8em;
}

.seven-section-three{
  margin-top: -3em;
}

.block-three{
  position: relative;
  left: 14em;
  top:-8em;
}

